<!-- client/views/home.ejs -->

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/home.js" defer></script>

  <link rel="stylesheet" href="/css/home.css">

  <title>코로나 맵 테스트 버전</title>
</head>
<body>
  <!-- 지도 표시 -->
  <article id="map"></article>
  <script type="text/javascript" src="https://dapi.kakao.com/v2/maps/sdk.js?appkey=360186dcd38f592a4fbeb3c958c2d9eb
  "></script>
</body>
</html>